
/*
3 - Aponte para o seletor container e faça as seguintes estilizações:
	a - cor de fundo #1f222b.
	b - margem esquerda e direita em 15%.
	c - fonte Times New Roman e caso não exista deixe o interpretador escolher uma.
	d - cor do texto #fff

*/
#container{
  background-color: #1f222b;
  margin:0 15% 0 15%;
  font-family: 'Times New Roman',serif;
  color:#fff;
}

/*
3 - Aponte para o seletor ( a ) e utilize a seguinte instrução: text-decoration:none.
*/
a{
  text-decoration:none;
}

/*
4 - Para as páginas de curso todo o css acima deve ser repetido em um arquivo externo de css que deve ser referenciado em cada uma das páginas, este arquivo deve estar na pasta css na raiz do projeto. O nome do arquivo deve ser estilo.css.
*/
/*
5 - Nas páginas dos cursos logo abaixo da div do menu deve ser inserida uma tag figure onde deve conter os seguintes elementos:
	a - img : Marque este elemento com um id referente ao curso, Ex: id="imgJava". Este elemento deve conter uma imagem relativa ao curso em questão, utilize o arquivo de css para inserir alterações de tamanho neste elemento, lembre se que tudo deve ser responsivo.
	b - figCaption : Marque este elemento com um id referente ao curso , Ex id="histJava". Este elemento deve conter um texto breve sobre o curso.

*/
#img-java{
  width: 10%;
}
#img-csharp{
  width: 10%;
}
#img-python{
  width: 10%;
}
#img-ruby{
  width: 10%;
}
