@import url("https://fonts.googleapis.com/css?family=Spartan&display=swap");

* {
  font-family: "Spartan", "Times New Roman", serif;
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body{
  width:100%;
  height: 100vh;
}

#container {
  background-color: #1f222b;
  color: #ffffff;
  margin: 0 15%;
  padding: 10px;
  border-radius: 5px;
}

a {
  text-decoration: none;
}

.menu{
margin: 2% 18%;
}

#texto{
width:65%;
margin:0 auto;
margin-top: 30px;
text-align: justify;
}

.voltar{
text-align: center;
margin-top: 3%;
}


.img-csharp,.img-java,.img-python,.img-ruby{
  padding-top:10px;
  text-align: center;
}

#img-csharp,#img-java,#img-python,#img-ruby{
  width:20%;
  max-width: 300px;
  height: auto;
}


