#Container{
  background-color:#f2f7a8;
  margin: 0 15 0 15  ;
  font-family: 'Times New Roman', Arial, Calibri,serif;
  font-style: normal;
  color:#696969;
}
.LinksPaginas{

  color: inherit, #f2f7ff;
  font-size: 20px;
  color: #7856f4;
}
