#Container{
  background-color:#8B0000;
  margin: 0 15 0 15;
  font-family: 'Times New Roman', Arial, Calibri,serif;
  font-style: normal;
  color:#ffff22;
}
.LinksPaginas{

  color: inherit, #f2f7ff;
  font-size: 20px;
  color: #7856f4;
  margin-bottom:30% ;
}
.ImagemRuby{
  margin-left: 38%;
  margin-right: 50%;
  margin-top: -10%;
  position: absolute;
}
