#container {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #1f222b;
    color: #ffffff;
    margin: 15%;
  }

  a {
    text-decoration: none;
  }

  #imgruby {
    
  }